# Auto detect text files and perform LF normalization
* text=auto

# .NET
*.cs     text diff=csharp
*.csproj text
*.sln    text
*.json   text
*.yml    text
*.yaml   text
*.md     text
*.ps1    text
*.sh     text

# Denote all files that are truly binary and should not be modified
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
*.dll    binary
*.exe    binary
*.so     binary
*.dylib  binary
